<div class="col-sm-6">
  <div class="row" align="center"> 
  <label class="table-desc"> 
    VM
  </label>
</div>
<div class="row">
    <usertable></usertable>
</div>
<div class="row">
  <a routerLink="/details" > More Details

  </a>

</div>

</div>

<div class="col-sm-6">
    <label class="table-desc"> 
        DB
      </label>
  <usertable></usertable>
  </div>
  <div class="col-sm-6">
      <label class="table-desc"> 
          Webapps
        </label>
    <usertable></usertable>
    </div>
    <div class="col-sm-6">
        <label class="table-desc"> 
            Storage
          </label>
      <usertable></usertable>
      </div>


